<h1>User#password_reset</h1>

<p>
  Hello, <%= @user.f_name %>

  You received this mail beacuse you have requested to reset your password.
  Use this code to reset your password: <%= @user.reset_password_token %>
  If you have not requested for reset password, then ignore this mail and your password will stay as it is.
</p>
